<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noo.wms.lot.mapper.LotSQLMapper">
	
	<insert id="lotRegist">		
		INSERT INTO Lot(
		product_code,
		company_code,
		lot_date
		)values(
		#{product_code},
		#{company_code},
		SYSDATE())		
	</insert>
	
	<select id="findItem" resultType="com.noo.wms.vo.ProductVo">
		SELECT * FROM Product
		WHERE company_code = #{companyCode}
		AND product_name LIKE CONCAT('%', #{productName}, '%')
	</select>
	
	<select id="selectItem" resultType="com.noo.wms.vo.ProductVo">		
		SELECT * FROM Product
		WHERE product_code = #{productCode}
	</select>
	
	<select id="lotList" resultType="com.noo.wms.vo.LotVo">
		SELECT * FROM Lot
		WHERE company_code = #{companyCode}
	</select>
	
	<update id="lotUpdate">
		UPDATE Lot
		SET product_code = #{product_code}
		WHERE lot_code = #{lot_code}
	</update>
	
	<delete id="lotDelete">
		DELETE FROM Lot
		WHERE lot_code = #{lot_code}
	</delete>
	
</mapper>
