<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noo.wms.employee.mapper.EmployeeSQLMapper">

<!-- 	발주 -->
	<select id="purchaseInfo" resultType="com.noo.wms.vo.PurchaseVo">		
		SELECT * FROM Purchase
			<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND company_code = #{company_code}
				<if test="searchType=='purchase_code' and searchWord != null and searchWord != '' ">				
					AND purchase_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='purchase_manager' and searchWord != null and searchWord != '' ">				
					AND purchase_manager like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='purchase_register_employee' and searchWord != null and searchWord != '' ">				
					AND purchase_register_employee like CONCAT('%', #{searchWord}, '%')			
				</if>			
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="purchaseInfoCount" resultType="int">
		SELECT COUNT(*) FROM Purchase
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND company_code = #{company_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='purchase_code'">				
					AND purchase_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='purchase_manager'">				
					AND purchase_manager like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='purchase_register_employee'">				
					AND purchase_register_employee like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="insertPurchaseInfo">
		INSERT into Purchase (
		company_code,
		account_code,
		purchase_state,
		purchase_manager,
		purchase_date,
		purchase_due_date,
		purchase_register_date,
		purchase_register_employee,
		purchase_update_date,
		purchase_update_employee,
		purchase_memo
		) values (
		#{company_code},
		#{account_code},
		#{purchase_state},
		#{purchase_manager},
		#{purchase_date},
		#{purchase_due_date},
		SYSDATE(),
		#{purchase_register_employee},
		SYSDATE(),
		#{purchase_update_employee},
		#{purchase_memo})
	</insert>
	
	<select id="selectPurchaseInfo" resultType="com.noo.wms.vo.PurchaseVo">
		SELECT * FROM Purchase
		WHERE purchase_code = #{purchase_code}
	</select>
	
	<update id="updatePurchaseInfo">
		UPDATE Purchase SET
		company_code = #{company_code},
		account_code = #{account_code},
		purchase_state = #{purchase_state},
		purchase_manager = #{purchase_manager},
		purchase_date = #{purchase_date},
		purchase_due_date = #{purchase_due_date},
		purchase_register_date = SYSDATE(),
		purchase_register_employee = #{purchase_register_employee},
		purchase_update_date = SYSDATE(),
		purchase_update_employee = #{purchase_update_employee},
		purchase_memo = #{purchase_memo}
		WHERE purchase_code = #{purchase_code}
	</update>
	
	<delete id="deletePurchaseInfo">
		DELETE FROM Purchase
		WHERE purchase_code = #{purchase_code}
	</delete>
	
	<!-- 발주 디테일 -->
	<select id="purchaseDetailInfo" resultType="com.noo.wms.vo.PurchaseDetailVo">		
		SELECT * FROM Purchase_detail
			<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND purchase_code = #{purchase_code}
				<if test="searchType=='product_code' and searchWord != null and searchWord != '' ">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name' and searchWord != null and searchWord != '' ">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>		
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="purchaseDetailInfoCount" resultType="int">
		SELECT COUNT(*) FROM Purchase_detail
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND purchase_code = #{purchase_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='product_code'">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name'">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="insertPurchaseDetailInfo">
		INSERT into Purchase_detail (
		purchase_code,
		product_code,
		product_name,
		product_price,
		product_amount
		) values (
		#{purchase_code},
		#{product_code},
		#{product_name},
		#{product_price},
		#{product_amount}
		)
	</insert>
	
	<select id="selectPurchaseDetailInfo" resultType="com.noo.wms.vo.PurchaseDetailVo">
		SELECT * FROM Purchase_detail
		WHERE purchase_detail_code = #{purchase_detail_code}
	</select>
	
	<update id="updatePurchaseDetailInfo">
		UPDATE Purchase_detail SET
		purchase_code = #{purchase_code},
		product_code = #{product_code},
		product_name = #{product_name},
		product_price = #{product_price},
		product_amount = #{product_amount}
		WHERE purchase_detail_code = #{purchase_detail_code}
	</update>
	
	<delete id="deletePurchaseDetailInfo">
		DELETE FROM Purchase_detail
		WHERE purchase_detail_code = #{purchase_detail_code}
	</delete>
	
	
	
	
	
	
	
	
	
	<!-- 	제품 -->
	<select id="productInfo" resultType="com.noo.wms.vo.ProductVo">		
		SELECT * FROM Product
			<trim prefix="WHERE" prefixOverrides="AND|OR">		
					AND company_code = #{company_code}	
				<if test="searchType=='product_code' and searchWord != null and searchWord != '' ">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='company_code' and searchWord != null and searchWord != '' ">				
					AND company_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name' and searchWord != null and searchWord != '' ">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>			
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="productInfoCount" resultType="int">
		SELECT COUNT(*) FROM Product
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND company_code = #{company_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='product_code'">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='company_code'">				
					AND company_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name'">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<select id="excelProductSelect" resultType="com.noo.wms.vo.ProductVo">
		SELECT * FROM Product
		WHERE product_code = #{product_code}
	</select>
	
	<insert id="insertProductInfo">
		INSERT into Product (
		company_code,
		product_name,
		product_size,
		product_version,
		product_type,
		product_register_date,
		product_register_employee,
		product_update_date,
		product_update_employee,
		product_memo
		) values (
		#{company_code},
		#{product_name},
		#{product_size},
		#{product_version},
		#{product_type},
		SYSDATE(),
		#{product_register_employee},
		SYSDATE(),
		#{product_update_employee},
		#{product_memo}
		)
	</insert>
	
	<select id="selectProductInfo" resultType="com.noo.wms.vo.ProductVo">
		SELECT * FROM Product
		WHERE product_code = #{product_code}
	</select>
	
	<update id="updateProductInfo">
		UPDATE Product SET
		company_code = #{company_code},
		product_name = #{product_name},
		product_size = #{product_size},
		product_version = #{product_version},
		product_type = #{product_type},
		product_register_date = SYSDATE(),
		product_update_date = SYSDATE(),
		product_update_employee = #{product_update_employee},
		product_memo = #{product_memo}
		WHERE product_code = #{product_code}
	</update>
	
	<delete id="deleteProductInfo">
		DELETE FROM Product
		WHERE product_code = #{product_code}
	</delete>
	
	
	
	
		<!-- 	수주 -->
	<select id="obtainOrderInfo" resultType="com.noo.wms.vo.ObtainOrderVo">		
		SELECT * FROM Obtain_order
			<trim prefix="WHERE" prefixOverrides="AND|OR">			
					AND company_code = #{company_code}
				<if test="searchType=='obtain_order_code' and searchWord != null and searchWord != '' ">				
					AND obtain_order_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='obtain_order_manager' and searchWord != null and searchWord != '' ">				
					AND obtain_order_manager like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='obtain_order_register_employee' and searchWord != null and searchWord != '' ">				
					AND obtain_order_register_employee like CONCAT('%', #{searchWord}, '%')			
				</if>			
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="obtainOrderInfoCount" resultType="int">
		SELECT COUNT(*) FROM Obtain_order
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND company_code = #{company_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='obtain_order_code'">				
					AND obtain_order_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='obtain_order_manager'">				
					AND obtain_order_manager like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='obtain_order_register_employee'">				
					AND obtain_order_register_employee like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="insertObtainOrderInfo">
		INSERT into Obtain_order (
		company_code,
		account_code,
		obtain_order_state,
		obtain_order_manager,
		obtain_order_date,
		obtain_order_due_date,
		obtain_order_register_date,
		obtain_order_register_employee,
		obtain_order_update_date,
		obtain_order_update_employee,
		obtain_order_memo
		) values (
		#{company_code},
		#{account_code},
		#{obtain_order_state},
		#{obtain_order_manager},
		#{obtain_order_date},
		#{obtain_order_due_date},
		SYSDATE(),
		#{obtain_order_register_employee},
		SYSDATE(),
		#{obtain_order_update_employee},
		#{obtain_order_memo}
		)
	</insert>
	
	<select id="selectObtainOrderInfo" resultType="com.noo.wms.vo.ObtainOrderVo">
		SELECT * FROM Obtain_order
		WHERE obtain_order_code = #{obtain_order_code}
	</select>
	
	<update id="updateObtainOrderInfo">
		UPDATE Obtain_order SET
		company_code = #{company_code},
		account_code = #{account_code},
		obtain_order_state = #{obtain_order_state},
		obtain_order_manager = #{obtain_order_manager},
		obtain_order_date = #{obtain_order_date},
		obtain_order_due_date = #{obtain_order_due_date},
		obtain_order_update_date = SYSDATE(),
		obtain_order_update_employee = #{obtain_order_update_employee},
		obtain_order_memo = #{obtain_order_memo}
		WHERE obtain_order_code = #{obtain_order_code}
	</update>
	
	<delete id="deleteObtainOrderInfo">
		DELETE FROM Obtain_order
		WHERE obtain_order_code = #{obtain_order_code}
	</delete>
	
	<!-- 수주디테일 -->
		<select id="obtainOrderDetailInfo" resultType="com.noo.wms.vo.ObtainOrderDetailVo">		
		SELECT * FROM Obtain_order_detail
			<trim prefix="WHERE" prefixOverrides="AND|OR">	
					AND obtain_order_code = #{obtain_order_code}
				<if test="searchType=='product_code' and searchWord != null and searchWord != '' ">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name' and searchWord != null and searchWord != '' ">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>			
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="obtainOrderDetailInfoCount" resultType="int">
		SELECT COUNT(*) FROM Obtain_order_detail
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND obtain_order_code = #{obtain_order_code}
			<if test="searchWord != null and searchWord != '' ">		
				<if test="searchType=='product_code' and searchWord != null and searchWord != '' ">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name' and searchWord != null and searchWord != '' ">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>	
			</if>
		</trim>
	</select>
	
	<insert id="insertObtainOrderDetailInfo">
		INSERT into Obtain_order_detail (
		obtain_order_code,
		product_code,
		product_name,
		product_price,
		product_amount
		) VALUES (
		#{obtain_order_code},
		#{product_code},
		#{product_name},
		#{product_price},
		#{product_amount}
		)
	</insert>
	
	<select id="selectObtainOrderDetailInfo" resultType="com.noo.wms.vo.ObtainOrderDetailVo">
		SELECT * FROM Obtain_order_detail
		WHERE obtain_order_detail_code = #{obtain_order_detail_code}
	</select>
	
	<update id="updateObtainOrderDetailInfo">
		UPDATE Obtain_order_detail SET
			obtain_order_code = #{obtain_order_code},
			product_code = #{product_code},
			product_name = #{product_name},
			product_price = #{product_price},
			product_amount = #{product_amount}
		WHERE obtain_order_detail_code = #{obtain_order_detail_code}
	</update>
	
	<delete id="deleteObtainOrderDetailInfo">
		DELETE FROM Obtain_order_detail
		WHERE obtain_order_detail_code = #{obtain_order_detail_code}
	</delete>
	
	
	
	
	
	
	<!-- 	생산 -->
	<select id="manufactureInfo" resultType="com.noo.wms.vo.ManufactureVo">		
		SELECT * FROM Manufacture
			<trim prefix="WHERE" prefixOverrides="AND|OR">		
					AND company_code = #{company_code}	
				<if test="searchType=='manufacture_code' and searchWord != null and searchWord != '' ">				
					AND manufacture_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='manufacture_manager' and searchWord != null and searchWord != '' ">				
					AND manufacture_manager like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='manufacture_register_employee' and searchWord != null and searchWord != '' ">				
					AND manufacture_register_employee like CONCAT('%', #{searchWord}, '%')			
				</if>			
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="manufactureInfoCount" resultType="int">
		SELECT COUNT(*) FROM Manufacture
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND company_code = #{company_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='manufacture_code'">				
					AND manufacture_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='manufacture_manager'">				
					AND manufacture_manager like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='manufacture_register_employee'">				
					AND manufacture_register_employee like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="insertManufactureInfo">
		INSERT into Manufacture (
		company_code,
		manufacture_state,
		manufacture_manager,
		manufacture_date,
		manufacture_due_date,
		manufacture_register_date,
		manufacture_register_employee,
		manufacture_update_date,
		manufacture_update_employee,
		manufacture_memo
		) values (
		#{company_code},
		#{manufacture_state},
		#{manufacture_manager},
		#{manufacture_date},
		#{manufacture_due_date},
		SYSDATE(),
		#{manufacture_register_employee},
		SYSDATE(),
		#{manufacture_update_employee},
		#{manufacture_memo}
		)
	</insert>
	
	<select id="selectManufactureInfo" resultType="com.noo.wms.vo.ManufactureVo">
		SELECT * FROM Manufacture
		WHERE manufacture_code = #{manufacture_code}
	</select>
	
	<update id="updateManufactureInfo">
		UPDATE Manufacture SET
		company_code = #{company_code},
		manufacture_state = #{manufacture_state},
		manufacture_manager = #{manufacture_manager},
		manufacture_date = #{manufacture_date},
		manufacture_due_date = #{manufacture_due_date},
		manufacture_update_employee = #{manufacture_update_employee},
		manufacture_memo = #{manufacture_memo}
		WHERE manufacture_code = #{manufacture_code}
	</update>
	
	<delete id="deleteManufactureInfo">
		DELETE FROM Manufacture
		WHERE manufacture_code = #{manufacture_code}
	</delete>
	
		<!-- 	생산 디테일 -->
	<select id="manufactureDetailInfo" resultType="com.noo.wms.vo.ManufactureDetailVo">		
		SELECT * FROM Manufacture_detail
			<trim prefix="WHERE" prefixOverrides="AND|OR">		
					AND manufacture_code = #{manufacture_code}	
				<if test="searchType=='product_code' and searchWord != null and searchWord != '' ">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name' and searchWord != null and searchWord != '' ">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>			
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="manufactureInfoDetailCount" resultType="int">
		SELECT COUNT(*) FROM Manufacture_detail
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND manufacture_code = #{manufacture_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='product_code'">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name'">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="insertManufactureDetailInfo">
		INSERT into Manufacture_detail (
		manufacture_code,
		product_code,
		product_name,
		product_amount,
		product_price
		) values (
		#{manufacture_code},
		#{product_code},
		#{product_name},
		#{product_amount},
		#{product_price}
		)
	</insert>
	
	<select id="selectManufactureDetailInfo" resultType="com.noo.wms.vo.ManufactureDetailVo">
		SELECT * FROM Manufacture_detail
		WHERE manufacture_detail_code = #{manufacture_detail_code}
	</select>
	
	<update id="updateManufactureDetailInfo">
		UPDATE Manufacture_detail SET
		manufacture_code = #{manufacture_code},
		product_code = #{product_code},
		product_name = #{product_name},
		product_amount = #{product_amount},
		product_price = #{product_price}
		WHERE manufacture_detail_code = #{manufacture_detail_code}
	</update>
	
	<delete id="deleteManufactureDetailInfo">
		DELETE FROM Manufacture_detail
		WHERE manufacture_detail_code = #{manufacture_detail_code}
	</delete>
	
	
	
	

	
	
	
	
	
	<!-- 	출하 -->
	<select id="outboundInfo" resultType="com.noo.wms.vo.OutboundVo">		
		SELECT * FROM Outbound
			<trim prefix="WHERE" prefixOverrides="AND|OR">	
					AND company_code = #{company_code}		
				<if test="searchType=='outbound_code' and searchWord != null and searchWord != '' ">				
					AND outbound_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='outbound_manager' and searchWord != null and searchWord != '' ">				
					AND outbound_manager like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='outbound_register_employee' and searchWord != null and searchWord != '' ">				
					AND outbound_register_employee like CONCAT('%', #{searchWord}, '%')			
				</if>			
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="outboundInfoCount" resultType="int">
		SELECT COUNT(*) FROM Outbound
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND company_code = #{company_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='outbound_code'">				
					AND outbound_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='outbound_manager'">				
					AND outbound_manager like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='outbound_register_employee'">				
					AND outbound_register_employee like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="insertOutboundInfo">
		INSERT into Outbound (
		company_code,
		account_code,
		outbound_date,
		outbound_manager,
		outbound_register_date,
		outbound_register_employee,
		outbound_update_date,
		outbound_update_employee,
		outbound_memo
		) values (
		#{company_code},
		#{account_code},
		#{outbound_date},
		#{outbound_manager},
		SYSDATE(),
		#{outbound_register_employee},
		SYSDATE(),
		#{outbound_update_employee},
		#{outbound_memo}
		)
	</insert>
	
	<select id="selectOutboundInfo" resultType="com.noo.wms.vo.OutboundVo">
		SELECT * FROM Outbound
		WHERE outbound_code = #{outbound_code}
	</select>
	
	<update id="updateOutboundInfo">
		UPDATE Outbound SET
		company_code = #{company_code},
		account_code = #{account_code},
		outbound_date = #{outbound_date},
		outbound_manager = #{outbound_manager},
		outbound_register_employee = #{outbound_register_employee},
		outbound_update_date = SYSDATE(),
		outbound_update_employee = #{outbound_update_employee},
		outbound_memo = #{outbound_memo}
		WHERE outbound_code = #{outbound_code}
	</update>
	
	<delete id="deleteOutboundInfo">
		DELETE FROM Outbound
		WHERE outbound_code = #{outbound_code}
	</delete>
	
	<!-- 출하 디테일 -->
	<select id="outboundDetailInfo" resultType="com.noo.wms.vo.OutboundDetailVo">		
		SELECT * FROM Outbound_detail
			<trim prefix="WHERE" prefixOverrides="AND|OR">		
					AND outbound_code = #{outbound_code}		
				<if test="searchType=='product_code' and searchWord != null and searchWord != '' ">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name' and searchWord != null and searchWord != '' ">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>		
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="outboundDetailInfoCount" resultType="int">
		SELECT COUNT(*) FROM Outbound_detail
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND outbound_code = #{outbound_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='product_code'">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_name'">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="insertOutboundDetailInfo">
		INSERT into Outbound_detail (
		outbound_code,
		product_code,
		product_name,
		product_amount,
		product_price
		) values (
		#{outbound_code},
		#{product_code},
		#{product_name},
		#{product_amount},
		#{product_price}
		)
	</insert>
	
	<select id="selectOutboundDetailInfo" resultType="com.noo.wms.vo.OutboundDetailVo">
		SELECT * FROM Outbound_detail
		WHERE outbound_detail_code = #{outbound_detail_code}
	</select>
	
	<update id="updateOutboundDetailInfo">
		UPDATE Outbound_detail SET
		outbound_code = #{outbound_code},
		product_code = #{product_code},
		product_name = #{product_name},
		product_amount = #{product_amount},
		product_price = #{product_price}
		WHERE outbound_detail_code = #{outbound_detail_code}
	</update>
	
	<delete id="deleteOutboundDetailInfo">
		DELETE FROM Outbound_detail
		WHERE outbound_detail_code = #{outbound_detail_code}
	</delete>
	
	
	
	
	
		<!-- 	제품 단가 -->
	<select id="productPriceInfo" resultType="com.noo.wms.vo.ProductPriceVo">		
		SELECT * FROM Product_price
			<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND company_code = #{company_code}			
				<if test="searchType=='product_price_code' and searchWord != null and searchWord != '' ">				
					AND product_price_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_code' and searchWord != null and searchWord != '' ">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>	
				<if test="searchType=='product_name' and searchWord != null and searchWord != '' ">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>			
			</trim>		
		LIMIT #{startList}, 15
	</select>

	<select id="productPriceInfoCount" resultType="int">
		SELECT COUNT(*) FROM Product_price
		<trim prefix="WHERE" prefixOverrides="AND|OR">
					AND company_code = #{company_code}
			<if test="searchWord != null and searchWord != '' ">			
				<if test="searchType=='product_price_code'">				
					AND product_price_code like CONCAT('%', #{searchWord}, '%')			
				</if>			
				<if test="searchType=='product_code'">				
					AND product_code like CONCAT('%', #{searchWord}, '%')			
				</if>	
				<if test="searchType=='product_name' and searchWord != null and searchWord != '' ">				
					AND product_name like CONCAT('%', #{searchWord}, '%')			
				</if>
			</if>
		</trim>
	</select>
	
	<insert id="insertProductPriceInfo">
		INSERT into Product_price (
		product_code,
		company_code,
		product_name,
		product_price_purchase,
		product_price_purchase_date,
		product_price_selling,
		product_price_selling_date,
		product_price_memo
		) values (
		#{product_code},
		#{company_code},
		#{product_name},
		#{product_price_purchase},
		#{product_price_purchase_date},
		#{product_price_selling},
		#{product_price_selling_date},
		#{product_price_memo}
		)
	</insert>
	
	<select id="selectProductPriceInfo" resultType="com.noo.wms.vo.ProductPriceVo">
		SELECT * FROM Product_price
		WHERE product_price_code = #{product_price_code}
	</select>
	
	<update id="updateProductPriceInfo">
		UPDATE Product_price SET
		product_code = #{product_code},
		product_name = #{product_name},
		company_code = #{company_code},
		product_price_purchase = #{product_price_purchase},
		product_price_purchase_date = #{product_price_purchase_date},
		product_price_selling = #{product_price_selling},
		product_price_selling_date = #{product_price_selling_date},
		product_price_memo = #{product_price_memo}
		WHERE product_price_code = #{product_price_code}
	</update>
	
	<delete id="deleteProductPriceInfo">
		DELETE FROM Product_price
		WHERE product_price_code = #{product_price_code}
	</delete>
	
</mapper>