<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noo.wms.inbound.mapper.InboundSQLMapper">

	<insert id="insertInbound">
		INSERT INTO Inbound(
		lot_code,
		company_code,
		product_code,
		warehouse_code,
		warehouse_area_code,
		warehouse_rack_code,
		warehouse_cell_code,
		inbound_amount,
		inbound_register_date,
		inbound_register_employee,
		inbound_memo
		)values(
		#{lot_code},
		#{company_code},
		#{product_code},
		#{warehouse_code},
		#{warehouse_area_code},
		#{warehouse_rack_code},
		#{warehouse_cell_code},
		#{inbound_amount},
		SYSDATE(),
		#{inbound_register_employee},
		#{inbound_memo}
		)
	</insert>

	<select id="findLot" resultType="com.noo.wms.vo.LotVo">
		SELECT * FROM Lot
		WHERE company_code = #{companyCode}
		AND lot_code LIKE CONCAT('%',#{lotCode},'%')			
	</select>

	<select id="selectedLot" resultType="com.noo.wms.vo.LotVo">
		SELECT * FROM Lot
		WHERE lot_code = #{lotCode}
	</select>

	<select id="selectedProduct" resultType="com.noo.wms.vo.ProductVo">
		SELECT * FROM Product
		WHERE product_code = #{productCode}
	</select>

	<select id="selectCell" resultType="com.noo.wms.vo.CellVo">
		SELECT * FROM Warehouse_cell
		WHERE warehouse_rack_code = #{rackCode}
		AND warehouse_cell_name = LIKE CONCAT('%',#{cellName},'%')
	</select>

	<select id="inboundList" resultType="com.noo.wms.vo.InboundVo">
		SELECT * FROM Inbound
		WHERE company_code = #{companyCode}
	</select>

	<update id="updateInbound">
		UPDATE Inbound
			SET lot_code = #{lot_code},
			product_code = #{product_code},
			warehouse_code = #{warehouse_code},
			warehouse_area_code = #{warehouse_area_code},
			warehouse_rack_code = #{warehouse_rack_code},
			warehouse_cell_code = #{warehouse_cell_code},
			inbound_amount = #{inbound_amount},
			inbound_memo = #{inbound_memo}
		WHERE inbound_code = #{inbound_code}
	</update>

	<delete id="deleteInbound">
		DELETE FROM Inbound
		WHERE inbound_code = #{inbound_code}
	</delete>


</mapper>